{% if include.source == "collection" %}
{% assign publications = site.publications | sort: "order" %}
{% elsif site.data.google_scholar_publications.publications %}
{% assign publications = site.data.google_scholar_publications.publications %}
{% else %}
{% assign publications = site.publications | sort: "order" %}
{% endif %}

{% for publication in publications %}
<div class="publication-item">
<div class="publication-item__year">{% if publication.year %}{{ publication.year }}{% else %}{{ publication.publication_date }}{% endif %}</div>
<div class="publication-item__content" markdown="1">

**[{{ publication.title }}]({{ publication.link }})**

**Authors:** {{ publication.authors }}

**Journal / venue:** {{ publication.venue }}

{% if include.source == "collection" %}
{{ publication.content | markdownify }}
{% endif %}
<div class="paper-links">
  {% if publication.pdf %}
  <a class="paper-link" href="{% if publication.pdf contains '://' %}{{ publication.pdf }}{% else %}{{ publication.pdf | relative_url }}{% endif %}">PDF</a>
  {% endif %}
  {% if publication.cite %}
  <a class="paper-link" href="{{ publication.cite }}">Cite</a>
  {% endif %}
  {% if publication.doi %}
  <a class="paper-link" href="{{ publication.doi }}">DOI</a>
  {% endif %}
</div>
</div>
</div>
{% endfor %}
