{% if site.data.google_scholar_publications.publications %}
{% assign publications = site.data.google_scholar_publications.publications %}
{% for publication in publications %}
<div class="publication-item" markdown="1">

[{{ publication.title }}]({{ publication.link }}), {{ publication.authors }}, {{ publication.venue }}

<div class="paper-links">
  {% if publication.pdf %}
  <a class="paper-link" href="{% if publication.pdf contains '://' %}{{ publication.pdf }}{% else %}{{ publication.pdf | relative_url }}{% endif %}">PDF</a>
  {% endif %}
  {% if publication.cite %}
  <a class="paper-link" href="{{ publication.cite }}">Cite</a>
  {% endif %}
  {% if publication.doi %}
  <a class="paper-link" href="{{ publication.doi }}">DOI</a>
  {% endif %}
</div>
</div>
{% endfor %}
{% else %}
{% assign publications = site.publications | sort: "order" %}
{% for publication in publications %}
<div class="publication-item" markdown="1">

[{{ publication.title }}]({{ publication.link }}), {{ publication.authors }}, {{ publication.venue }}

{{ publication.content | markdownify }}
<div class="paper-links">
  <a class="paper-link" href="{% if publication.pdf contains '://' %}{{ publication.pdf }}{% else %}{{ publication.pdf | relative_url }}{% endif %}">PDF</a>
  <a class="paper-link" href="{{ publication.cite }}">Cite</a>
  <a class="paper-link" href="{{ publication.doi }}">DOI</a>
</div>
</div>
{% endfor %}
{% endif %}
